<script src="js/bootstrap.bundle.js"></script>
<script src="js/msort.js" type="text/javascript" defer></script>
<script defer>var intervalType = setInterval(() => {
    Typer('.eg1').One('50');
}, 2000);</script>
</body>
</html>