<%- include('header.ejs') %>
<header class="page-header gradient">
    <div class="container pt-3">
        <br><br><br>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-5 profile-info">
                <h5>
                    Makanaokeakua Edwards, 25
                    <br>
                    <small class="text-muted">Software Engineer</small>
                </h5>
                <p>I provide high quality solutions to real world problems utilizing modern technologies and software engineering principles</p>
                <button onclick="window.location='/'" class="btn btn-dark">Explore</button>
                <button onclick="window.location='https://github.com/MakanaMakesStuff'" class="btn btn-light"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                  </svg>
                </button>
                <button onclick="window.location='https://www.linkedin.com/in/makanaokeakua/'" class="btn btn-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                      </svg>
                </button>
                <br><br>
            </div>
            <div class="col-md-4 profile"><img class="shadow" src="images/me.jpeg" alt="Header Image"></div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,192L14.1,213.3C28.2,235,56,277,85,266.7C112.9,256,141,192,169,186.7C197.6,181,226,235,254,240C282.4,245,311,203,339,181.3C367.1,160,395,160,424,170.7C451.8,181,480,203,508,218.7C536.5,235,565,245,593,234.7C621.2,224,649,192,678,192C705.9,192,734,224,762,229.3C790.6,235,819,213,847,192C875.3,171,904,149,932,133.3C960,117,988,107,1016,133.3C1044.7,160,1073,224,1101,213.3C1129.4,203,1158,117,1186,106.7C1214.1,96,1242,160,1271,186.7C1298.8,213,1327,203,1355,202.7C1383.5,203,1412,213,1426,218.7L1440,224L1440,320L1425.9,320C1411.8,320,1384,320,1355,320C1327.1,320,1299,320,1271,320C1242.4,320,1214,320,1186,320C1157.6,320,1129,320,1101,320C1072.9,320,1045,320,1016,320C988.2,320,960,320,932,320C903.5,320,875,320,847,320C818.8,320,791,320,762,320C734.1,320,706,320,678,320C649.4,320,621,320,593,320C564.7,320,536,320,508,320C480,320,452,320,424,320C395.3,320,367,320,339,320C310.6,320,282,320,254,320C225.9,320,198,320,169,320C141.2,320,113,320,85,320C56.5,320,28,320,14,320L0,320Z"></path></svg>
</header>
<section class="companies">
        <div class="conatiner text-center">
            <div class="row align-items-center g-5 text-center justify-content-center" style="overflow: hidden; width: 100%;">
                <div class="col-md-2"><img class="img-fluid" src="images/node.png" alt=""></div>
                <div class="col-md-2"><img class="img-fluid" src="images/aws.png" alt=""></div>
                <div class="col-md-2"><img class="img-fluid" src="images/django-python.png" alt=""></div>
                <div class="col-md-2"><img class="img-fluid" src="images/heroku.png" alt=""></div>
                <div class="col-md-2"><img class="img-fluid" src="images/trio.png" alt=""></div>
            </div>
        </div>
</section>
<section class="features gradient">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFFFFF" fill-opacity="1" d="M0,192L21.8,181.3C43.6,171,87,149,131,154.7C174.5,160,218,192,262,208C305.5,224,349,224,393,197.3C436.4,171,480,117,524,101.3C567.3,85,611,107,655,122.7C698.2,139,742,149,785,181.3C829.1,213,873,267,916,250.7C960,235,1004,149,1047,112C1090.9,75,1135,85,1178,96C1221.8,107,1265,117,1309,106.7C1352.7,96,1396,64,1418,48L1440,32L1440,0L1418.2,0C1396.4,0,1353,0,1309,0C1265.5,0,1222,0,1178,0C1134.5,0,1091,0,1047,0C1003.6,0,960,0,916,0C872.7,0,829,0,785,0C741.8,0,698,0,655,0C610.9,0,567,0,524,0C480,0,436,0,393,0C349.1,0,305,0,262,0C218.2,0,175,0,131,0C87.3,0,44,0,22,0L0,0Z"></path></svg>
    <div class="container">
        <!-- Turn Game Feature -->
        <div class="row feature">
            <div class="col-md-6">
                <h1>Turn is here</h1>
                <p class="my-4">
                    Turn is a simple, yet difficult game. If you think you have what it takes, go download and give it a try. Good luck.
                </p>
                <button class="btn btn-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                      </svg>
                      Learn More                  
                </button>
            </div>
            <div class="col-md-6" style="padding: 15px; text-align: center;">
                <div class="embed-responsive embed-responsive-1by1" style="height: 100%;">
                    <iframe style="height: 100%; width: auto;" class="embed-responsive-item" src="videos/app-promo-turn-final.mp4"></iframe>
                  </div>
            </div>
        </div>
        <br>
        <br>

        <!--Type Out JS -->
        <div class="row feature">
            <div class="col-md-6" style="padding: 15px;">
                <h1>A Little Plugin :)</h1>
                <p class="my-4">
                    Typeout.js will let iterate through any text and type it out in your browser. Just a simple plugin to give life to your text.
                </p>
                <button class="btn btn-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                      </svg>
                      Learn More                  
                </button>
            </div>
            <div class="col-md-6 justify-content-center">
                <div class="example shadow bg-light" style="height: auto">
                    <div class="eg1" style="text-align: center; font-size: 1em; color: springgreen;">Game of Thrones ended poorly</div><br>
                    <h2 class="eg1" style="text-align: center; font-size: 1em; color: salmon;">Game of Thrones ended poorly</h2><br>
                    <h1 class="eg1" style="text-align: center; font-size: 1em; color: royalblue;">Game of Thrones ended poorly</h1><br>
                    <i class="eg1" style="font-size: 1em">Game of Thrones ended poorly</i>
                    <br>  
                </div>
            </div>  
        </div>
        <br>
        <div class="row feature">
            <div class="col-md-6">
                <h1>Let's sort things owlt</h1>
                <p class="my-4">
                    Msort.js makes sorting images in a Mosiac style easy and fun. With just a one line of code you can do this:
                </p>
                <button class="btn btn-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                      </svg>
                      Learn More                  
                </button>
            </div>
            <div class="col-md-6" style="padding: 15px;">
                <div class="gallery" style="width: 300px; height: 300px;padding: 0px;">
                    <img src="images/owls//1.jpg" alt="Owl 1">
                    <img src="images/owls//2.jpg" alt="Owl 2">
                    <img src="images/owls//3.jpg" alt="Owl 3">
                    <img src="images/owls//4.jpg" alt="Owl 4">
                    <img src="images/owls//5.jpg" alt="Owl 5">
                    <img src="images/owls//6.jpg" alt="Owl 6">
                </div>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFFFFF" fill-opacity="1" d="M0,64L20,80C40,96,80,128,120,117.3C160,107,200,53,240,74.7C280,96,320,192,360,229.3C400,267,440,245,480,218.7C520,192,560,160,600,176C640,192,680,256,720,245.3C760,235,800,149,840,117.3C880,85,920,107,960,138.7C1000,171,1040,213,1080,218.7C1120,224,1160,192,1200,165.3C1240,139,1280,117,1320,117.3C1360,117,1400,139,1420,149.3L1440,160L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z"></path></svg>
</section>
<%- include('footer.ejs') %>